#addtocart-info {
  /* height: 44.5rem; */
  /* overflow: hidden; */
  /* box-sizing: border-box; */
}

.products {
  overflow: hidden;
  height: 44rem;
}

.product-item-even {
  display: flex;
  flex-direction: column;
  animation: animate 40s 0s infinite linear;
  overflow: hidden;
  border: solid 2px black;
  height: 42rem;
  background: #e7d6c4;
  width: 33rem;
  margin: 1rem 0rem -43rem 12rem;
}

@keyframes animate {
  0% {
    transform: translateY(-150rem);
  }
  100% {
    transform: translateY(44rem);
  }
}

.product-item-odd {
  animation: animate1 40s -7s infinite linear reverse;
  overflow: hidden;
  border: solid 2px black;
  height: 42rem;
  background: #e7d6c4;
  width: 33rem;
  margin: 1rem 0rem 0rem 50rem;
}

@keyframes animate1 {
  0% {
    transform: translateY(-120rem);
  }
  100% {
    transform: translateY(25rem);
  }
}

.product-name,
.product-color {
  background: transparent;
}

.porduct-img {
  max-height: 20rem;
  display: flex;
  /* justify-content: center; */
  margin: 0 auto;
}

.product-gender {
  height: 3rem;
  display: flex;
  margin: 0 auto;
  background: transparent;
}

.pro-info {
  background: transparent;
  /* flex-direction: column; */
  margin: 9px auto;
  justify-content: center;
  display: grid;
  gap: 0rem;
  font-family: "Favorit";
}

.product-name,
.product-color {
  font-size: 5rem;
  background: transparent;
}

.product-size,
.product-price {
  background: transparent;
  margin: 0 auto;
  font-size: 2rem;
}

button {
  background: transparent;
  margin: 14px auto;
  font-size: 1.2rem;
  font-weight: 600;
  color: black;
  border: 2px solid black;
  padding: 11px;
  border-radius: 30px;
  cursor: pointer;
}
