.marquee-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-family: Arial;
  border-top: solid 3px #000;
  border-bottom: solid 3px #000;
  background: #dfc92a;
}

.marquee {
  position: relative;
  overflow: hidden;
}
.marquee-inner {
  width: fit-content;
  display: flex;
  position: relative;
  transform: translate3d(calc(-25% + 25%), 0, 0);
  animation: marquee 15s linear infinite;
  animation-play-state: running;
}
.marquee-inner span {
  font-size: 3rem;
  padding: 0.3rem 1rem;
  color: #000;
}

@keyframes marquee {
  0% {
    transform: translate3d(calc(-25% + 25%), 0, 0);
  }
  100% {
    transform: translate3d(calc(-50% + 25%), 0, 0);
  }
}

.marquee-inner > span {
  background: #dfc92a;
}

@media only screen and (max-width: 600px) {
  .marquee-inner span {
    font-size: 2rem;
    padding: 0.3rem 1rem;
    color: #000;
  }
}
