.aside-section {
  text-decoration: none;
  background: transparent;
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: fixed;
  left: 2.5rem;
  top: 38rem;
  font-family: "Favorit";
  font-weight: 100;
  z-index: 0;
}

.link {
  z-index: 0;
  background: transparent;
  text-decoration: none;
  color: black;
}
